{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true
}
